<head>
    <%- include('../partials/head', {title: "Crea tu producto - Petitos Shop" })%>
</head>
<%- include('../partials/header') %>
    <main class="main-crud">
        <section class="crud-contanier">
            <form action="/products" method="POST" class="crud-form" enctype="multipart/form-data">
                <h1>PRODUCTO NUEVO</h1>
                <div class="crud crud-name">
                    <h3>Nombre</h3>
                    <input type="text" id="name" name="name"
                        class="<%= locals.errors && errors.name ? 'is-invalid' : null %> ">
                    <% if (locals.errors && errors.name) { %>
                        <div class="text-danger">
                            <%= errors.name.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="crud crud-prices">
                    <h3>Precio</h3>
                    <input type="text" id="price" name="price"
                        class="<%= locals.errors && errors.price ? 'is-invalid' : null %> ">
                    <% if (locals.errors && errors.price) { %>
                        <div class="text-danger">
                            <%= errors.price.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="crud crud-sizes">
                    <h3>Talle</h3>
                    <select name="size" id="size" class="<%= locals.errors && errors.size ? 'is-invalid' : null %> ">
                        <option></option>
                        <% size.forEach(size=> { %>
                            <option value="<%= size.id %>">
                                <%= size.size %>
                            </option>
                            <% }); %>
                    </select>
                    <% if (locals.errors && errors.size) { %>
                        <div class="text-danger">
                            <%= errors.size.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="crud crud-stock">
                    <h3>Stock</h3>
                    <input type="text" id="stock" name="stock"
                        class="<%= locals.errors && errors.stock ? 'is-invalid' : null %> ">
                    <% if (locals.errors && errors.stock) { %>
                        <div class="text-danger">
                            <%= errors.stock.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="crud crud-categories">
                    <h3>Categoría</h3>
                    <select name="category" id="category">
                        <option></option>
                        <% category.forEach(category=> { %>
                            <option value="<%= category.id %>">
                                <%= category.category %>
                            </option>
                            <% }); %>
                    </select>
                </div>
                <div class="crud crud-brand">
                    <h3>Marca</h3>
                    <select name="brand" id="brand">
                        <option></option>
                        <% brand.forEach(brand=> { %>
                            <option value="<%= brand.id %>">
                                <%= brand.brand %>
                            </option>
                            <% }); %>
                    </select>
                </div>
                <div class="crud-image">
                    <h3>Imágen</h3>
                    <input type="file" id="image" name="image">
                </div>
                <div class="crud-details">
                    <h3>Detalles</h3>
                    <textarea name="details" id="details"
                        placeholder="Alimento para gatos hecho a base de carbón con metanol" cols="30"
                        rows="5"></textarea>
                </div>
                <div class="crud-buttons">
                    <button class="btn-crud" type="submit">Crear Producto</button>
                    <button class="btn-crud" type="reset">Cancelar</button>
                </div>
            </form>
        </section>
    </main>
    </body>
    <%- include('../partials/footer') %>

        </html>