<head>
    <%- include('../partials/head', {title: "Producto: " + (Product?.name ? Product.name : 'Not Found' ) }) %>
</head>

<%- include('../partials/header') %>
    <main class="main-products">
        <div class="product-container">
            <div class="description">
                <img class="product-img" src="/img/usersImages/<%= Product.image %>" alt="">
                <div>
                    <h4>CARACTERÍSTICAS</h4>
                    <span>
                        <%= Product.details %>
                    </span>
                </div>
            </div>
            <section class="details">
                <div class="links-chain">
                    <a href="/">Inicio</a>
                    <span class="divider">></span>
                    <a href="">PERROS</a>
                    <span class="divider">></span>
                    <a href="">COSMÉTICOS</a>
                    <span class="divider">></span>
                    <a href="">COLLARES</a>
                </div>
                <div class="store">
                    <h2>
                        <%= Product.name %>
                    </h2>
                    <h3>$<%= Product.price %>
                    </h3>
                    <div class="cuotas">
                        <i class='bx bx-credit-card'></i>
                        <span class="cuotes">700 cuotas de $10.002</span><br>
                    </div>
                    <a class="details-cuotas" href="/cuotes">Ver más detalles</a>
                    <form action="" class="form">

                        <label for="size">Talle</label><br>
                        <select name="size" id="size" required>
                            <% size.forEach(size=> { %>
                                <option value="<%= size.id %>" <% if (Product.size_id==size.id) { %>
                                    <%= 'selected' %>
                                        <% }; %>><%= size.size %>
                                </option>
                                <% }); %>
                        </select>
                    </form>
                    <a class="guide-sizes" href="/guide-sizes">Guía de talles</a>
                    <div class="add-to-cart">
                        <div class="minus-plus">
                            <button><i class='bx bx-minus'></i></button>
                            <span>1</span>
                            <button><i class='bx bx-plus'></i></button>
                        </div>
                        <div class="add">
                            <a href="">AGREGAR AL CARRITO</a>
                        </div>
                    </div>
                    <!--MEDIOS DE ENVIO-->
                    <div class="send-methods">
                        <i class='bx bxs-truck'></i>
                        <span>Medios de envío</span>
                    </div>
                    <div></div>
                    <form action=""><br>
                        <input type="tel" name="" id=""><br>
                    </form><br>
                    <!--MEDIOS DE ENVIO-->
                    <% if (locals.isLogged) { %>
                        <div class="crud-buttons">
                            <a href="/products/editar/<%= Product.id %>"><button class="btn-crud">Editar
                                    Producto</button></a>
                            <form action="/products/destruir/<%= Product.id %>?_method=DELETE" method="POST">
                                <button class="btn-crud" type="submit">Eliminar Producto</button>
                            </form>
                        </div>
                        <% } %>

                </div>
            </section>
        </div>
    </main>
    </body>
    <%- include('../partials/footer') %>

        </html>