<head>
    <%- include('../partials/head', {title: "Listado de productos" }) %>
</head>

<%- include('../partials/header') %>
    <table id="customers">
        <tr>
            <!--  <th>ID</th> -->
            <th>Nombre</th>
            <th>Stock</th>
            <th>Detalles</th>
            <th>Precio</th>
            <th>Marca</th>
            <th>Talles</th>
            <th>Categoría</th>
            <th>Acciones</th>
        </tr>

        <tr>
            <% Product.forEach((producto)=>{ %>
        <tr>

            <!--  <td class="iddd">
                <%= producto.id %>
            </td> -->
            <td>
                <%= producto.name %>
            </td>
            <td>
                <%= producto.quantity %>
            </td>
            <td>
                <%= producto.details%>
            </td>
            <td>
                <%= producto.price%>
            </td>
            <td>
                <%= producto.brand%>
            </td>
            <td>
                <%= producto.size%>
            </td>
            <td>
                <%= producto.categories.category%>
            </td>
            <td>
                <script src="editar/<%= producto.id %>"></script>
                <a href="detalle/<%= producto.id %>"><button id="botones-listado">Ver</button></a>
                <% if (locals.isLogged) { %>
                    <a href="editar/<%= producto.id %>"><button id="botones-listado">Editar</button></a>
                    <form action="/products/destruir/<%= producto.id %>?_method=DELETE" method="POST">
                        <button type="submit" id="botones-listado">Eliminar</button>
                    </form>
                    <% } %>
            </td>

        </tr>
        <% }) %>

    </table>
    </body>
    <%- include('../partials/footer') %>

        </html>